<div style="height: 400px;" class="container mb-5 bg-success text-light p-5">
    <div class="row">
        <div class="col-4">
            <h3><i class="fa-solid fa-graduation-cap mx-2"> Cookpedia</i></h3>
            <p>Discover 100+ recipes in your hand with the best recipe. Help you to find the easiest way to cook.</p>
        </div>
        <div class="col-3"></div>
        <div class="col-5 ">
 <h3>Sign up for our news letter</h3>
<br>
<div class="d-flex ">
    <input class="form-control mx-3" type="text" placeholder="Enter Your Mail Id" aria-label="default input example">
     <button class="btn btn-info "><i class="fa-solid fa-arrow-right"></i></button>
    
</div>

<div class="row">
    <div class="col-4">
        <h5 class="mt-4">Menu</h5>
        <ul class="mb-4 list-unstyled">
            <li>Home</li>
            <li>Recipes</li>
            <li>About</li>
            <li>contact</li>
        </ul>
    </div>
    <div class="col-4">
        <h5 class="mt-4">Help</h5>
        <ul class="mb-4 list-unstyled">
            <li>Login</li>
            <li>Register</li>
            <li>Terms of use</li>
            <li>privacy & policy</li>
        </ul>

    </div>
    <div class="col-4">
        <h5 class="mt-4">Social Media</h5>
        <ul class="mb-4 list-unstyled">
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Youtube</li>
        </ul>

    </div>

</div>
</div>
</div>
