<app-header></app-header>
<div class="container mt-5">

<div class="container d-flex">
    <div class="w-50 v-50">
<img src=".\aboutImg-removebg-preview.png" alt="">
    </div>
    <div class=" mt-5">
        <h2>Welcome To CookPedia</h2>
        <p>Discover 100+ recipes in your hand with the best recipe Help you to find the easiest way to cook.</p>
    </div>
</div>
<div class="container mt-5 d-flex">
    <div class="w-50 text-justify mx-5 ">
       <h1>About Us</h1> 
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repudiandae ratione temporibus rem officia. Excepturi, dolores! Eos deleniti voluptas saepe cum molestiae ab ullam, quam quibusdam voluptates. Eaque, deleniti ea!
       Repellat non a maiores maxime, nulla earum consectetur officiis. Dolorum sed deleniti, fugiat veniam nisi unde, cumque doloremque incidunt deserunt mollitia, quibusdam quo accusamus quisquam! Quis inventore sed neque in.
       Praesentium sapiente, voluptatum natus voluptas dignissimos cum ex enim, quia necessitatibus odio corrupti iste in sit fuga iure laudantium aliquam commodi, rerum vel earum. Facilis blanditiis quidem soluta ea suscipit.</p>
       <button class="btn btn-success mt-3 mb-4">Know More About Us</button>
    </div>
    <div class="mx-5 mb-5">
        <img width="500" src=".\about2-removebg-preview.png" alt="">
    </div>
</div>
</div>
<app-footer></app-footer>
